<div class="user">
 <%= image_tag("images.png", :alt => "rss feed", class: 'img-fluid rounded-start')   %>  
    <h1 class="link-to-user" href="/users/<%= user.id %>"><%= user.name %></h1>
  <h4 class="posts-count">Number of Posts: <%= user.posts.size %></h4>
</div>